---
layout: default
---
<div class="main__bg">
  <div class="bg">
    <div class="container">
      <section class="about">
        <h2 class="about__h">Karoline Alencar</h2>
        <p class="about__p">
          Desenvolvedora Web.
        </p>
      </section><!--    ABOUT    -->
    </div>
  </div>
</div>
<div class="container">
  <section class="post__list">
      <div class="post__container">
      {% if site.posts.size == 0 %}
        <h3>I'm sorry, the post is in another castle. =(</h3>
      {% else %}
        {% for post in site.posts %}
        <article class="post">
          <a class="post__link" href="{{ site.baseurl }}{{ post.url }}">
            <h3 class="post__title">
              {{ post.title }}
            </h3>
            <div class="post__date">
              <time>{{ site.time | date_to_long_string }}</time>
            </div>
          </a>
        </article>
      {% endfor %}
    {% endif %}
    </div>
  </section>
</div>
