<div class="main__bg">
  <div class="bg">
    <header class="header">
      <div class="container">
        <h1 class="header__title">
          <a class="header__title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item">
              <a class="header__link" href="https://github.com/KarolinedeAlencar" target="_blank">
                <img class="header__icon" src="img/github.svg" alt="Ícone do Github em branco">
              </a>
            </li>
            <li class="header__item">
              <a class="header__link" href="https://codepen.io/KarolinedeAlencar/"target="_blank">
                <img class="header__icon" src="img/codepen.svg" alt="Ícone do CodePen em branco" >
              </a>
            </li>
            <li class="header__item">
              <a class="header__link" href="https://linkedin.com/in/karolinedealencar" target="_blank">
                <img class="header__icon" src="img/linkedin.svg" alt="Ícone do Linkedin em branco">
              </a>
            </li>
            <li class="header__item">
              <a class="header__link" href="https://twitter.com/karoldalencar" target="_blank">
                <img class="header__icon" src="img/twitter.svg" alt="Ícone do Twitter em branco">
              </a>
            </li>
          </ul>
        </nav>
    </header>
  </div>
