<section class="post-list">
  <div class="container">
    <h2 class="post-list__title">
      Artigos
    </h2>

    <div class="post-list__list">
      <!-- Loops through the paginated posts -->
      {% if site.posts.size == 0 %}
        <h3>Parece que não tem nenhum post por aqui.</h3>
      {% else %}
        {% for post in paginator.posts %}
          <article class="post-list__article">
            <div class="post-list__img">
                {% if post.tags contains "javascript" %}
                  <img src="{{ site.baseurl }}/img/icon-javascript.svg" alt="JavaScript Icon">
                {% endif %}
                {% if post.tags contains "css" %}
                  <img src="{{ site.baseurl }}/img/icon-css.svg" alt="CSS Icon">
                {% endif %}
                {% if post.tags contains "html" %}
                  <img src="{{ site.baseurl }}/img/icon-html.svg" alt="HTML Icon">
                {% endif %}

                {% if post.tags contains "dicas" %}
                  <img src="{{ site.baseurl }}/img/icon-tips.svg" alt="Tips Icon">
                {% endif %}
                {% if post.tags contains "desenvolvimento" %}
                  <img src="{{ site.baseurl }}/img/icon-development.svg" alt="Development Icon">
                {% endif %}
                {% if post.tags contains "softskills" %}
                  <img src="{{ site.baseurl }}/img/icon-skills.svg" alt="Soft Skills Icon">
                {% endif %}        
            </div>
            <header class="post-list__header">
              <div>
                <time class="post-list__date">{{ post.date | date: "%d/%m/%Y" }}</time>
                <a href="/tags/#{{ post.tags }}" title="{{ post.categories }}">
                  <span class="post-list__categories"> #{{ post.tags }}</span>
                </a>
              </div>
              <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
                <h3 class="post-list__title--list">
                  {{ post.title }}
                </h3>
              </a>
            </header>
          </article>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% include pagination.html %}
</section>
