<section class="post-list">
  <div class="container">
    <h2 class="post-list__title">
      Artigos
    </h2>
    <div class="post-list__list">
      <!-- Loops through the paginated posts -->
      {% if site.posts.size == 0 %}
        <h3>Parece que não tem nenhum post por aqui.</h3>
      {% else %}
        {% for post in paginator.posts %}
        <a class="post__link" href="{{ site.baseurl }}{{ post.url }}">
          <article class="post-list__item">
            <div class="post-list__img">
                {% if post.categories contains "JavaScript" %}
                  <img src="https://karolinedealencar.github.io/img/icon-javascript.svg" alt="JavaScript Icon">
                {% endif %}
                {% if post.categories contains "CSS" %}
                  <img src="https://karolinedealencar.github.io/img/icon-css.svg" alt="CSS Icon">
                {% endif %}
                {% if post.categories contains "HTML" %}
                  <img src="https://karolinedealencar.github.io/img/icon-html.svg" alt="HTML Icon">
                {% endif %}

                {% if post.categories contains "Dicas" %}
                  <img src="https://karolinedealencar.github.io/img/icon-tips.svg" alt="Tips Icon">
                {% endif %}
                {% if post.categories contains "Desenvolvimento" %}
                  <img src="https://karolinedealencar.github.io/img/icon-development.svg" alt="Development Icon">
                {% endif %}
                {% if post.categories contains "Soft Skills" %}
                  <img src="https://karolinedealencar.github.io/img/icon-skills.svg" alt="Soft Skills Icon">
                {% endif %}        
              </div>
            <header class="post-list__header">
              <div>
                <time class="post-list__date">{{ post.date | date: "%d/%m/%Y" }}</time>
                <span class="post-list__categories"> - {{ post.categories }}</span>
              </div>
              <h3 class="post-list__title--list">
                {{ post.title }}
              </h3>
            </header>
          </article>
        </a>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <!-- Pagination links -->
  <div class="pagination">
  {% if paginator.previous_page %}
    <a class="previous" href="{{ paginator.previous_page_path }}">
      < Anterior
    </a>
  {% else %}
  {% endif %}
    {% if paginator.next_page %}
      <a class="next" href="{{ paginator.next_page_path }}">
        Próximo >
      </a>
    {% else %}
  {% endif %}
  </div>    
</section>
