
// VARIABLES

$color-primary: #F575A4;
$color-secundary: #413C3E;
$color-contrast: #FFF;

// GLOBAL

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $color-secundary;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
