// VARIABLES

$color-primary: #9178ED;
$color-secondary: #373737;
$color-contrast: #FFF;

// GLOBAL

:root {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

// TEXT

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}


h2 {
  color: $color-secondary;
  font-size: rem(34);
  font-weight: bold;
}

h3 {
  color: $color-secondary;
  font-size: rem(24);
  font-weight: bold;
}

p {
  color: $color-secondary;
  font-size: rem(16);
  line-height: rem(26);

  @media (min-width: 992px) {
    font-size: rem(18);
    line-height: rem(28);
  }

}