.container {
  margin: 0 auto;
  padding: 10px 20px;
  @media (min-width: 991px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }

}
