.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }

}
