//  HEADER

.header {
  width: 100%;
  background-color: #9178ED;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem;
  color: #fff;
}

.header__title {
  margin: 0;

  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;

  transition: .2s ease-in-out;

  &:hover {
    transform: translateY(-2px);
  }

  @media (min-width: 900px) {
    flex: 20%;
  }

}

.header__list {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.header__item {
  padding-left: 1rem;
}

.header__icon {
  transition: .2s ease-in-out;

  &:hover {
    transform: translateY(-4px);
  }

}

//  ABOUT

.about {
  width: 100%;
  color: $color-secundary;
  text-align: center;
}

.about__img {
  height: 200px;
  width: 200px;
  margin: 1rem auto;
  overflow: hidden;

  border-radius: 50%;
}

.about__title {
  margin: 0;

  color: $color-secundary;
  font-size: 2.4rem;
  line-height: 2.6rem;

  @media (min-width: 992px) {
    font-size: 4rem;
  }

}

.about__p {
  margin: 0;

  color: $color-secundary;
  font-size: 1rem;

  @media (min-width: 992px) {
    font-size: 1.4rem;
  }

}

// POSTS 

.post-list__title {
  margin-bottom: 2rem;

  color: $color-secundary;
  font-size: 2rem;

  @media (min-width: 992px) {
    font-size: 2.6em;
  }

}

.post-list__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }

}

.post-list__item {
  height: 280px;
  box-shadow: 0px 0px 1px 1px #d2cece;

  transition: .2s ease-in;

  &:hover {
    transform: translateY(-2px);
  }

}

.post-list__img {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-list__date,
.post-list__categories {
  font-size: .8rem;
  font-weight: lighter;
}

.post-list__categories {
  font-weight: bold;
}

.post-list__header {
  padding: 1rem;
}

.post-list__title--list {
  margin: .2rem 0 0 0;
  font-size: 1.4rem;
}

// POST PAGE

.post__page {
  margin: 4rem 0;

  h2 {
    color: $color-secundary;
    font-size: 1.6rem;
    font-weight: lighter;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: lighter;
  }

  p {
    font-size: 1rem;
    line-height: 1.6rem;

    @media (min-width: 992px) {
      font-size: 1rem;
    }

  }

}

.post__content {
  margin-top: 2rem;
}

.post__title {
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;

  @media (min-width: 600px) {
    font-size: 2.6rem;
  }

}

.post__date,
.post__categories {
  font-size: 1rem;
  font-weight: lighter;
}

.post__categories {
  font-weight: bold;
}


// PAGINATION

.pagination {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem 0 1rem;

  font-size: 1.2rem;
  font-weight: bold;
}

.next {
  margin-left: 1rem;
}

// FOOTER

.footer {
  width: 100%;
  margin-top: 2rem;
  padding: .4rem;

  color: $color-contrast;
  font-size: 1rem;
  text-align: center;

  background-color: #9178ED;
}

// HIGHLIGHTING

pre {
  white-space: pre-wrap;
  color: #000;
  font-size: 1.2rem;
}

//  COMMENTS

.comments__h {
  font-size: 2rem;
}
