//  HEADER

.header {
  width: 100%;
  background: linear-gradient(to right, #9178ED, #F485E4);
}

.header__content {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.header__title {
  display: inline;
  margin: 0;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
}

.header__nav,
.header__list,
.header__item {
  display: inline;
}

.header__item {
  padding-left: 5px;
  font-size: 1.2em;

  @media (min-width: 768px) {
    padding-left: 10px;
  }

}

//  ABOUT

.about {
  width: 100%;
  padding: 100px 0px;
  color: $color-secundary;
}

.about__img {
  float: left;

  height: 140px;
  width: 140px;
  margin-right: 1em;
  overflow: hidden;

  border-radius: 50%;
}

.about__title {
  margin: 0;

  color: $color-secundary;
  font-size: 2.4em;
  line-height: 1em;

  @media (min-width: 768px) {
    margin: 10px 0;
    font-size: 4em;
  }

}

.about__p {
  margin: 0;

  color: $color-secundary;
  font-size: 1em;

  @media (min-width: 768px) {
    font-size: 1.4em;
  }

}

// POSTS

.posts__title {
  margin: 10px 0;

  color: $color-secundary;
  font-size: 3em;
}

.posts__list {
  margin:  0;
  margin-bottom: 6em;

  @media (min-width: 768px) {
    margin:  0;
    margin-bottom: 6em;
  }

}

.post__h {
  color: $color-secundary;
  font-size: 2em;

  @media (min-width: 768px) {
    font-size: 3em;
  }

}

.posts__post {
  margin: 40px 20px 20px 20px;
  border-bottom: 2px solid #9178ED;
}

.post__title {
  margin: 0;

  color: $color-secundary;
  font-size: 2em;
  font-weight: bold;
}

.post__title--home {
  font-weight: lighter;

  &:hover {
    background: linear-gradient(to right, #9178ED, #F485E4 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}

.post__link {
  display: block;
  padding: 0px 0px 25px 0px;
}

.post__date {
  color: #3E4042;
  font-size: 0.9em;
  font-weight: lighter;
}

// POST PAGE

.post__page {
  margin: 100px 0;

  .post__title {
    font-size: 2.6em;
    font-weight: bold;
  }

  h2 {
    color: $color-secundary;
    font-size: 1.6em;
    font-weight: lighter;
  }

  h3 {
    font-size: 1.4em;
    font-weight: lighter;
  }

  p {
    font-size: 1em;
    line-height: 1.6em;

    @media (min-width: 768px) {
      font-size: 1em;
    }

  }

}

.post__content {
  margin-top: 4em;
}

// PAGINATION

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  font-size: 1.2em;
  font-weight: bold;
}

// HIGHLIGHTING

pre {
  white-space: pre-wrap;
  color: #000;
  font-size: 1.2em;
}

//  COMMENTS

.comments__h {
  font-size: 1.5em;
}
