//  HEADER

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: $color-primary;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  display: inline;
  margin: 0;
  color: $color-contrast;
  font-size: 1.2em;
  font-weight: 200;
  transition-duration: .6s;
  &:hover {
      transform: translateY(-5px);

  }
}

.header__nav,
.header__list,
.header__item {
  display: inline;
}

.header__item {
  padding-left: 5px;
  @media (min-width: 768px) {
    padding-left: 10px;
  }
}


.header__icon {
  transition-duration: .6s;
  &:hover {
    transform: translateY(-5px);
  }
}

//  ABOUT

.bg {
  width: 100%;
  background-color: $color-primary;
}

.about {
  width: 100%;
  padding: 100px 0px;
  color: $color-contrast;
  text-align: center;
}

.about__h {
  margin: 0;
  color: $color-contrast;
  font-size: 2.2em;
  @media (min-width: 768px) {
    margin: 10px 0;
    font-size: 4em;
  }
}

.about__p {
  margin: 0;
  font-size: 1em;
  color: $color-contrast;
  @media (min-width: 768px) {
    font-size: 1.4em;
  }
}

// POSTS

.post__list {
  margin: 10px 0;
  @media (min-width: 768px) {
    margin: 60px 0;
  }
}

.post__h {
  color: $color-secundary;
  font-size: 2em;
  @media (min-width: 768px) {
    font-size: 3em;
  }
}

.post {
  margin: 5px;
  transition: .6s;
  &:hover {
    transform: translateY(-5px);
  }
}

.post__title {
  margin: 0;
  color: $color-secundary;
  font-size: 1.4em;
  font-weight: lighter;
  @media (min-width: 768px) {
    font-size: 2.2em;
  }
}

.post__link {
  display: block;
  padding: 25px 0px;
}

.post__date {
  color: #3E4042;
  font-size: 0.9em;
  font-weight: lighter;
}

// POST PAGE

.post__page {
  margin: 100px 0;

  h1 {
    font-size: 1.8em;
    font-weight: bold;
  }

  h2 {
    color: $color-secundary;
    font-size: 1.6em;
    font-weight: lighter;
  }

  h3 {
    font-size: 1.4em;
    font-weight: lighter;
  }

  p {
    color: #413C3E;
    font-size: 0.8em;
    line-height: 1.6em;
    letter-spacing: 1px;
    @media (min-width: 768px) {
      font-size: 1em;
    }
  }
}

.post__date--mod {
  margin-bottom: 60px;
}

// HIGHLIGHTING

pre {
    white-space: pre-wrap;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

//  COMMENTS

.comments h3 {
  font-size: 1.5em;
  color: #3E4042;
}
